[package]
name = "rustgram-message-origin"
version.workspace = true
edition.workspace = true
rust-version.workspace = true
license.workspace = true
authors.workspace = true
repository.workspace = true

[dependencies]
serde = { workspace = true }
thiserror = { workspace = true }
rustgram-types = { path = "../types" }

[dev-dependencies]
serde_json = { workspace = true }
