[package]
name = "rustgram-dialog-filter-manager"
version.workspace = true
edition.workspace = true
rust-version.workspace = true
license.workspace = true
authors.workspace = true
repository.workspace = true

[dependencies]
rustgram-types = { path = "../types" }
rustgram-chat-manager = { path = "../chat-manager" }

serde = { workspace = true }
thiserror = { workspace = true }

[dev-dependencies]
