[package]
name = "rustgram-td-callback"
version.workspace = true
edition.workspace = true
rust-version.workspace = true
license.workspace = true
authors.workspace = true
repository.workspace = true
keywords.workspace = true
categories.workspace = true

description = "TDLib callback interface for Telegram client"

[features]
default = []

[dependencies]

[dev-dependencies]

[lints]
workspace = true
