[package]
name = "rustgram-dialog-participant-manager"
version.workspace = true
edition.workspace = true
rust-version.workspace = true
license.workspace = true
authors.workspace = true
repository.workspace = true

[dependencies]
rustgram-dialog-participant = { path = "../dialog-participant" }
rustgram-types = { path = "../types" }
serde = { workspace = true }
thiserror = { workspace = true }

[dev-dependencies]
serde_json = { workspace = true }
